<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OmniPost</title>
</head>
<body>
    <h1>OmniPost</h1>
    <button onclick="window.location.replace(`/newsession`)">New Session (API Logout)</button>
    <div>
        <h3>Twitter</h3>
        <div>
            <% if (twitterUsername ) { %>
                <p>Logged in as <%= twitterUsername %></p>
            <% } else { %>
                <button onclick="window.location.replace('<%= twitterAuthUrl %>')">Login</button>
            <% } %>
        </div>
        <% if (twitterUsername ) { %>
            <button onclick="window.location.replace(`/tweet`)">Post Tweet</button>
        <% } %>
    </div>
</body>
</html>